<window id="4">
	<defaultcontrol>850</defaultcontrol>
	<allowoverlay>no</allowoverlay>
	<controls>
		<control type="group">
			<animation effect="fade" start="100" end="0" delay="400" time="300" condition="Window.IsActive(Favourites)">Conditional</animation>
			<animation effect="fade" start="100" end="0" delay="200" time="150" condition="Window.IsVisible(PlayerControls) | Window.IsActive(ShutdownMenu) | Window.IsActive(selectdialog) | Window.IsActive(virtualkeyboard)">Conditional</animation>
			<!--little dialog fade out-->
			<animation effect="fade" start="100" end="30" delay="0" time="200" condition="Window.IsActive(100) | Window.IsActive(contextmenu) | Window.IsActive(numericinput) | Window.IsActive(101) | Window.IsActive(2002)">Conditional</animation>
			
	<!--(((BACKGROUNDS)))=========================================================================================================================-->	+		
			<control type="group">	
				<!--*********************************** Custom/Universal *********************************************-->
				<include>UniversalClassicBackground</include>
				<include>UniversalCustomBackground</include>
				<!--*********************************** BackgroundSystem **********************************************-->
				<control type="group">
					<description>System Custom Background</description>
					<visible>![Player.HasAudio + !Skin.HasSetting(DisableMusicVizBG)] + ![Player.HasVideo + !Skin.HasSetting(DisableVideoBG)]</visible>
					<control type="multiimage">
						<description>Custom Background</description>
						<top>0</top>
						<width>1280</width>
						<height>ScreenHeight</height>
						<imagepath background="true" fallback="special://skin/images/backgrounds/background-system.jpg">$INFO[Skin.String(SystemCustomBG)]</imagepath>
						<visible>Skin.HasSetting(ApplyAllSystemCustomBG) + [!Skin.HasSetting(EnableClassicUniversalBG) + IsEmpty(Skin.String(UniversalCustomBG))]</visible>
						<aspectratio>stretch</aspectratio>
						<timeperimage>10000</timeperimage>
						<fadetime>BackgroundCrossfadeTime</fadetime>
						<randomize>true</randomize>
						<!--BackgroundSystemDimAnim-->
						<animation effect="fade" start="100" end="30" condition="!Skin.HasSetting(DimSystemCustomBG)">Conditional</animation>
					</control>
					<control type="image">
						<description>Default Background</description>
						<top>0</top>
						<width>1280</width>
						<height>ScreenHeight</height>
						<include>SystemBackground_And_Res</include>
						<aspectratio>stretch</aspectratio>
						<fadetime>BackgroundCrossfadeTime</fadetime>
						<visible>!Skin.HasSetting(ApplyAllSystemCustomBG) + [!Skin.HasSetting(EnableClassicUniversalBG) + IsEmpty(Skin.String(UniversalCustomBG))]</visible>
						<!--BackgroundSystemDimAnim-->
						<animation effect="fade" start="100" end="30" condition="!Skin.HasSetting(DimSystemCustomBG)">Conditional</animation>
					</control>
				</control>
				<!--***************************************************************************************************-->
				
				<!--*********************************** BackgroundFSVideo ***********************************************-->
				<control type="group">
					<visible>Player.HasVideo + !Skin.HasSetting(DisableVideoBG)</visible>
					<control type="videowindow">
						<top>0</top>
						<width>1280</width>
						<height>ScreenHeight</height>
					</control>
					<control type="image">
						<description>Dim Background</description>
						<top>0</top>
						<width>1280</width>
						<height>ScreenHeight</height>
						<texture>background-dim.png</texture>
						<!--BackgroundVizDimAnim-->
						<animation effect="fade" end="70" condition="true">Conditional</animation>
					</control>
				</control>
				<!--***************************************************************************************************-->
				
				<!--*********************************** BackgroundFSViz ***********************************************-->
				<control type="group">
					<visible>Player.HasAudio + !Skin.HasSetting(DisableMusicVizBG)</visible>
					<control type="visualisation">
						<top>0</top>
						<width>1280</width>
						<height>ScreenHeight</height>
					</control>	
					<control type="image">
						<description>Dim Background</description>
						<top>0</top>
						<width>1280</width>
						<height>ScreenHeight</height>
						<texture>background-dim.png</texture>
						<!--BackgroundVizDimAnim-->
						<animation effect="fade" end="70" condition="true">Conditional</animation>
					</control>	
				</control>
				<!--***************************************************************************************************-->
				
				<!--BackgroundDimAnim-->
				<animation effect="fade" end="100" condition="[!Window.IsActive(MovieInformation) + !Window.IsActive(MusicInformation) + !Window.IsActive(135)]">Conditional</animation>
				
				<!--******************************* FullControlAreaBackground *******************************************-->
				<control type="group">	
					<visible>!Skin.HasSetting(EnableClassicUniversalBG)</visible> <!--skinwide equal viz bg-->
					<control type="image">
						<top>0</top>
						<width>ScreenWidth</width>
						<height>ScreenHeight</height>		
						<texture>control-area-background2.png</texture>
						<!--MediaViewOpenCloseAnim-->
						<animation effect="fade" start="0" end="100" time="400" condition="">Visible</animation>
						<animation effect="fade" start="100" end="0" time="400">Hidden</animation>
						<animation effect="fade" start="0" end="100" time="400">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="400">WindowClose</animation>
					</control>
				</control>
				<control type="group">	
					<visible>Skin.HasSetting(EnableClassicUniversalBG) + [[Player.HasAudio + !Skin.HasSetting(DisableMusicVizBG)] | [Player.HasVideo + !Skin.HasSetting(DisableVideoBG)]]</visible> <!--skinwide equal viz bg-->
					<control type="image">
						<top>0</top>
						<width>ScreenWidth</width>
						<height>ScreenHeight</height>		
						<texture>control-area-background2.png</texture>
						<!--MediaViewOpenCloseAnim-->
						<animation effect="fade" start="0" end="100" time="400" condition="">Visible</animation>
						<animation effect="fade" start="100" end="0" time="400">Hidden</animation>
						<animation effect="fade" start="0" end="100" time="400">WindowOpen</animation>
						<animation effect="fade" start="100" end="0" time="400">WindowClose</animation>
					</control>
				</control>
				<!--***************************************************************************************************-->
				
				<!--BackgroundOpenCloseAnim-->
				<animation effect="fade" start="40" end="100" time="600">WindowOpen</animation> 
				<animation effect="fade" start="100" end="40" time="600">WindowClose</animation>
			</control>

			<!--**************************** DialogPopUpScreenDim **********************************-->
			<control type="image">
				<width>1280</width>
				<height>ScreenHeight</height>
				<texture>background-dim.png</texture>
				<animation effect="fade" start="0" end="40" time="450">Visible</animation>
				<animation effect="fade" start="40" end="0" time="450">Hidden</animation>
				<visible>!Skin.HasSetting(DoNotDimScreen)</visible>
				<visible>Window.IsActive(ShutdownMenu) | Window.IsActive(NumericInput) | Window.IsActive(LockSettings) | Window.IsActive(PlayerControls) | Window.IsActive(Favourites)</visible>
			</control>
			<!--************************************************************************************-->
			
	<!--(((MENU BAR)))================================================================================================================================-->		
			<control type="group">
				<!--SkinSystemStatMenuSlide-->
				<animation effect="slide" end="0,27" condition="Skin.HasSetting(ShowSystemVitals)">Conditional</animation>
				<!---->
				<!--ControlsOpenCloseAnim-->
				<animation effect="fade" start="0" end="100" time="400">Visible</animation>
				<animation effect="fade" start="100" end="0" time="400">Hidden</animation>
				<animation effect="fade" start="0" end="100" time="400">WindowOpen</animation>
				<animation effect="fade" start="100" end="0" time="400">WindowClose</animation>
				<description>Menu Bar Area</description>
				
				<!--******************************************** Categories ********************************************-->
				<control type="grouplist" id="850">
					<animation effect="fade" start="100" end="57" time="250" condition="!ControlGroup(850).HasFocus">Conditional</animation>
					<description>Settings Menu Bar</description>
					<left>390</left>
					<top>75</top>
					<itemgap>8</itemgap>
					<onup>850</onup>
					<ondown>850</ondown>
					<onleft>600</onleft>
					<onright>600</onright>
					<orientation>vertical</orientation>
				<!--APPREARANCE-->
					<control type="button" id="102">
						<description>APPEARANCE</description>
						<width>500</width>
						<height>44</height>
						<textwidth>480</textwidth>
						<!--deleted ContextMenuBtnFocus-->
						<font>font_24_WCB</font>
						<label>[UPPERCASE]$LOCALIZE[480][/UPPERCASE]</label>
						<onclick>ActivateWindow(AppearanceSettings)</onclick>
						<align>center</align>
						<aligny>center</aligny>
						<textoffsetx></textoffsetx>
						<textoffsety></textoffsety> <!--SDM-->
						<texturefocus border="10,10,10,10">Glass/ShutDownButtonF.png</texturefocus>
						<texturenofocus border="10,10,10,10">Glass/ShutDownButton.png</texturenofocus>
						<colordiffuse>FFFFFFFF</colordiffuse>	
						<animation effect="zoom" end="105" center="auto" time="50">focus</animation>
						<animation effect="zoom" start="105" center="auto" time="50">unfocus</animation>
					</control>
				<!--PROGRAMS-->
					<control type="button" id="1100">
						<description>PROGRAMS</description>
						<width>500</width>
						<height>44</height>
						<textwidth>480</textwidth>
						<font>font_24_WCB</font>
						<label>[UPPERCASE]$LOCALIZE[0][/UPPERCASE]</label>
						<onclick>ActivateWindow(ProgramsSettings)</onclick>	
						<align>center</align>
						<aligny>center</aligny>
						<textoffsetx></textoffsetx>
						<textoffsety></textoffsety> <!--SDM-->
						<texturefocus border="10,10,10,10">Glass/ShutDownButtonF.png</texturefocus>
						<texturenofocus border="10,10,10,10">Glass/ShutDownButton.png</texturenofocus>
						<colordiffuse>FFFFFFFF</colordiffuse>
						<disabledcolor>AA555555</disabledcolor> <!--JET-->
						<animation effect="zoom" end="105" center="auto" time="50">focus</animation>
						<animation effect="zoom" start="105" center="auto" time="50">unfocus</animation>
					</control>
				<!--VIDEOS-->
					<control type="button" id="104">
						<description>VIDEOS</description>
						<width>500</width>
						<height>44</height>
						<textwidth>480</textwidth>
						<font>font_24_WCB</font>
						<label>[UPPERCASE]$LOCALIZE[10006][/UPPERCASE]</label>
						<onclick>ActivateWindow(VideosSettings)</onclick>
						<align>center</align>
						<aligny>center</aligny>
						<textoffsetx></textoffsetx>
						<textoffsety></textoffsety> <!--SDM-->
						<texturefocus border="10,10,10,10">Glass/ShutDownButtonF.png</texturefocus>
						<texturenofocus border="10,10,10,10">Glass/ShutDownButton.png</texturenofocus>
						<colordiffuse>FFFFFFFF</colordiffuse>
						<animation effect="zoom" end="105" center="auto" time="50">focus</animation>
						<animation effect="zoom" start="105" center="auto" time="50">unfocus</animation>
					</control>	
				<!--PICTURES-->
					<control type="button" id="106">
						<description>PICTURES</description>
						<width>500</width>
						<height>44</height>
						<textwidth>480</textwidth>
						<font>font_24_WCB</font>
						<label>[UPPERCASE]$LOCALIZE[10002][/UPPERCASE]</label>
						<onclick>ActivateWindow(PicturesSettings)</onclick>
						<align>center</align>
						<aligny>center</aligny>
						<textoffsetx></textoffsetx>
						<textoffsety></textoffsety> <!--SDM-->
						<texturefocus border="10,10,10,10">Glass/ShutDownButtonF.png</texturefocus>
						<texturenofocus border="10,10,10,10">Glass/ShutDownButton.png</texturenofocus>
						<colordiffuse>FFFFFFFF</colordiffuse>
						<disabledcolor>AA555555</disabledcolor> <!--JET-->
						<animation effect="zoom" end="105" center="auto" time="50">focus</animation>
						<animation effect="zoom" start="105" center="auto" time="50">unfocus</animation>
					</control>	
				<!--WEATHER-->
					<control type="button" id="109">
						<description>WEATHER</description>
						<width>500</width>
						<height>44</height>
						<textwidth>480</textwidth>
						<font>font_24_WCB</font>
						<label>[UPPERCASE]$LOCALIZE[400][/UPPERCASE]</label>
						<onclick>ActivateWindow(WeatherSettings)</onclick>	
						<align>center</align>
						<aligny>center</aligny>
						<textoffsetx></textoffsetx>
						<textoffsety></textoffsety> <!--SDM-->
						<texturefocus border="10,10,10,10">Glass/ShutDownButtonF.png</texturefocus>
						<texturenofocus border="10,10,10,10">Glass/ShutDownButton.png</texturenofocus>
						<colordiffuse>FFFFFFFF</colordiffuse>
						<disabledcolor>AA555555</disabledcolor> <!--JET-->
						<animation effect="zoom" end="105" center="auto" time="50">focus</animation>
						<animation effect="zoom" start="105" center="auto" time="50">unfocus</animation>
					</control>
				<!--NETWORK-->
					<control type="button" id="110">
						<description>NETWORK</description>
						<width>500</width>
						<height>44</height>
						<textwidth>480</textwidth>
						<font>font_24_WCB</font>
						<label>[UPPERCASE]$LOCALIZE[13279][/UPPERCASE]</label>
						<onclick>ActivateWindow(NetworkSettings)</onclick>	
						<align>center</align>
						<aligny>center</aligny>
						<textoffsetx></textoffsetx>
						<textoffsety></textoffsety> <!--SDM-->
						<texturefocus border="10,10,10,10">Glass/ShutDownButtonF.png</texturefocus>
						<texturenofocus border="10,10,10,10">Glass/ShutDownButton.png</texturenofocus>
						<colordiffuse>FFFFFFFF</colordiffuse>
						<disabledcolor>AA555555</disabledcolor> <!--JET-->
						<animation effect="zoom" end="105" center="auto" time="50">focus</animation>
						<animation effect="zoom" start="105" center="auto" time="50">unfocus</animation>
					</control>
				<!--MUSIC-->
					<control type="button" id="103">
						<description>MUSIC</description>
						<width>500</width>
						<height>44</height>
						<textwidth>480</textwidth>
						<font>font_24_WCB</font>
						<label>[UPPERCASE]$LOCALIZE[10005][/UPPERCASE]</label>
						<onclick>ActivateWindow(MusicSettings)</onclick>	
						<align>center</align>
						<aligny>center</aligny>
						<textoffsetx></textoffsetx>
						<textoffsety></textoffsety> <!--SDM-->
						<texturefocus border="10,10,10,10">Glass/ShutDownButtonF.png</texturefocus>
						<texturenofocus border="10,10,10,10">Glass/ShutDownButton.png</texturenofocus>
						<colordiffuse>FFFFFFFF</colordiffuse>
						<animation effect="zoom" end="105" center="auto" time="50">focus</animation>
						<animation effect="zoom" start="105" center="auto" time="50">unfocus</animation>
					</control>
				<!--ADDONS-->
					<control type="button" id="1101">
						<description>SERVICES</description>
						<width>500</width>
						<height>44</height>
						<textwidth>480</textwidth>
						<font>font_24_WCB</font>
						<label>[UPPERCASE]$LOCALIZE[24001][/UPPERCASE]</label>
						<onclick>ActivateWindow(AddonBrowser)</onclick>	
						<align>center</align>
						<aligny>center</aligny>
						<textoffsetx></textoffsetx>
						<textoffsety></textoffsety> <!--SDM-->
						<texturefocus border="10,10,10,10">Glass/ShutDownButtonF.png</texturefocus>
						<texturenofocus border="10,10,10,10">Glass/ShutDownButton.png</texturenofocus>
						<colordiffuse>FFFFFFFF</colordiffuse>
						<animation effect="zoom" end="105" center="auto" time="50">focus</animation>
						<animation effect="zoom" start="105" center="auto" time="50">unfocus</animation>
					</control>
				<!--SERVICES-->
					<control type="button" id="1102">
						<description>SERVICES</description>
						<width>500</width>
						<height>44</height>
						<textwidth>480</textwidth>
						<font>font_24_WCB</font>
						<label>[UPPERCASE]$LOCALIZE[14036][/UPPERCASE]</label>
						<onclick>ActivateWindow(ServiceSettings)</onclick>	
						<align>center</align>
						<aligny>center</aligny>
						<textoffsetx></textoffsetx>
						<textoffsety></textoffsety> <!--SDM-->
						<texturefocus border="10,10,10,10">Glass/ShutDownButtonF.png</texturefocus>
						<texturenofocus border="10,10,10,10">Glass/ShutDownButton.png</texturenofocus>
						<colordiffuse>FFFFFFFF</colordiffuse>
						<animation effect="zoom" end="105" center="auto" time="50">focus</animation>
						<animation effect="zoom" start="105" center="auto" time="50">unfocus</animation>
					</control>
				<!--SYSTEM-->
					<control type="button" id="111">
						<description>SYSTEM</description>
						<width>500</width>
						<height>44</height>
						<textwidth>480</textwidth>
						<font>font_24_WCB</font>
						<label>[UPPERCASE]$LOCALIZE[13000][/UPPERCASE]</label>
						<onclick>ActivateWindow(SystemSettings)</onclick>
						<align>center</align>
						<aligny>center</aligny>
						<textoffsetx></textoffsetx>
						<textoffsety></textoffsety> <!--SDM-->
						<texturefocus border="10,10,10,10">Glass/ShutDownButtonF.png</texturefocus>
						<texturenofocus border="10,10,10,10">Glass/ShutDownButton.png</texturenofocus>
						<colordiffuse>FFFFFFFF</colordiffuse>
						<animation effect="zoom" end="105" center="auto" time="50">focus</animation>
						<animation effect="zoom" start="105" center="auto" time="50">unfocus</animation>
					</control>
				<!--SKIN SETTINGS-->
					<control type="button" id="112">
						<description>SKIN SETTINGS</description>
						<width>500</width>
						<height>44</height>
						<textwidth>480</textwidth>
						<font>font_24_WCB</font>
						<label>[UPPERCASE]$LOCALIZE[166][/UPPERCASE]</label>
						<onclick>ActivateWindow(skinsettings)</onclick>
						<align>center</align>
						<aligny>center</aligny>
						<textoffsetx></textoffsetx>
						<textoffsety></textoffsety> <!--SDM-->
						<texturefocus border="10,10,10,10">Glass/ShutDownButtonF.png</texturefocus>
						<texturenofocus border="10,10,10,10">Glass/ShutDownButton.png</texturenofocus>
						<colordiffuse>FFFFFFFF</colordiffuse>
						<animation effect="zoom" end="105" center="auto" time="50">focus</animation>
						<animation effect="zoom" start="105" center="auto" time="50">unfocus</animation>
					</control>
				</control>
				<!--****************************************************************************************************-->
				<animation effect="slide" end="0,-44" condition="Skin.HasSetting(HideInfoPane)">Conditional</animation>
			</control>

			
	<!--(((TOP BAR)))=================================================================================================================================-->			
			<control type="group">
				<description>Top Bar Area</description>	
				<!--*********************************** (CUSTOM TOP BAR) ********************************************-->
				<include>TopBarImage</include>
				<!--*************************************************************************************************-->
				
				<!--************************************* (SystemTray) **********************************************-->
				<include>SystemTray</include>
				
				<!--*************************************************************************************************-->
				
				<!--******************************** (BreadCrumbSettingCats) ****************************************-->
				<include>BreadCrumbButtonLeft</include>
				<include>BreadCrumbHome</include>
				<!--*************************************************************************************************-->
				
				<!--*********************************** WeatherNotification *****************************************-->
				<include>TopBarWeatherNotification</include>
				<!--*************************************************************************************************-->
				
				<!--*********************************** MediaPlayingNotification ************************************-->
				<include>TopBarMediaNotification</include>
				<!--*************************************************************************************************-->
			</control>
			
	<!--(((INFO PANE)))===============================================================================================================================-->		
			<control type="group">
				<description>Bottom Bar Area</description>
				<top>BottomPaneOffsetY</top>	
				<!--***************************************** InfoPaneImage ******************************************************-->
				<control type="image">
					<description>BottomPaneTopHighlightImage</description>
					<top>-14</top>
					<width>ScreenWidth</width>
					<height>14</height>
					<texture>bottom-bar-top.png</texture>
					<visible>!Skin.HasSetting(HideHomeBottomPaneWhiteHighlight)</visible>
					<!--BottomPaneTopHighlightFadeAnim-->
					<animation effect="fade" end="15" condition="true">Conditional</animation>
				</control>
				<control type="image">
					<description>BottomPaneImage</description>
					<width>ScreenWidth</width>
					<height>74</height>
					<texture border="0,10,0,0">bottom-bar-background.png</texture>
					<!--BottomPaneFadeAnim-->
					<animation effect="fade" end="80" condition="true">Conditional</animation>
				</control>
				<control type="image">
					<description>BottomPaneOverlay</description>
					<top>6</top>
					<width>ScreenWidth</width>
					<height>74</height>
					<texture>bottom-bar-overlay.png</texture>
					<!--BottomPaneOverlayFadeAnim-->
					<animation effect="fade" end="50" condition="true">Conditional</animation>
				</control>
				<!--BottomPaneOpenCloseAnim-->
				<animation effect="slide" start="0,74" time="200" tween="circle" easing="out">WindowOpen</animation>
				<animation effect="slide" end="0,74" time="200" tween="circle" easing="out">WindowClose</animation>
				<!--InfoPaneSpecificCloseAnim-->
				<animation effect="slide" end="0,74" time="300" condition="Window.IsActive(PlayerControls) | Window.IsActive(MovieInformation) | Window.IsActive(MusicInformation) | Window.IsActive(135)">Conditional</animation>
				<visible>Skin.HasSetting(HideInfoPane)</visible>
				<!--*************************************************************************************************************-->
				
				<!--********************************** InfoPaneSettingsDetails **************************************************-->
				<control type="image">
					<description>InfoPaneIcon</description>
					<animation effect="slide" start="0,0" end="0,-30" time="230" delay="270" condition="Window.IsActive(133) | Window.IsActive(112)">Conditional</animation>
					<left>10</left>
					<top>12</top>
					<width>54</width>
					<height>54</height>
					<fadetime>IconCrossfadeTime</fadetime>
					<aspectratio>keep</aspectratio>
					<animation effect="fade" end="70" condition="true">Conditional</animation>
					<texture>Settings.png</texture>
				</control>
				<control type="label" id="2">
					<description>InfoPaneHeaderLabel</description>
					<animation effect="slide" start="0,0" end="0,-6" time="230" delay="270" condition="Window.IsActive(133) | Window.IsActive(112)">Conditional</animation>
					<left>76</left>
					<top>6</top>
					<width>1190</width> <!---->
					<textcolor>InfoPaneHeaderColor</textcolor>
					<font>font_27_CB</font>
					<label>$INFO[System.CurrentControl]</label>
				</control>
				<control type="label">
					<description>InfoPaneDetailLabel</description>
					<left>76</left>
					<top>37</top>
					<width>800</width>
					<textcolor>InfoPaneDetailsColor</textcolor>
					<font>font_20</font>
					<label>$LOCALIZE[31202]</label>
					<animation effect="fade" start="100" end="0" condition="Window.IsActive(112) | Window.IsActive(133)">Conditional</animation>
					<visible>Control.HasFocus(102)</visible>
				</control>
				<control type="label">
					<description>InfoPaneDetailLabel</description>
					<left>76</left>
					<top>37</top>
					<width>800</width>
					<textcolor>InfoPaneDetailsColor</textcolor>
					<font>font_20</font>
					<label>$LOCALIZE[31205]</label>
					<animation effect="fade" start="100" end="0" condition="Window.IsActive(112) | Window.IsActive(133)">Conditional</animation>
					<visible>Control.HasFocus(103)</visible>
				</control>
				<control type="label">
					<description>InfoPaneDetailLabel</description>
					<left>76</left>
					<top>37</top>
					<width>800</width>
					<textcolor>InfoPaneDetailsColor</textcolor>
					<font>font_20</font>
					<label>$LOCALIZE[31206]</label>
					<animation effect="fade" start="100" end="0" condition="Window.IsActive(112) | Window.IsActive(133)">Conditional</animation>
					<visible>Control.HasFocus(104)</visible>
				</control>	
				<control type="label">
					<description>InfoPaneDetailLabel</description>
					<left>76</left>
					<top>37</top>
					<width>800</width>
					<textcolor>InfoPaneDetailsColor</textcolor>
					<font>font_20</font>
					<label>$LOCALIZE[31204]</label>
					<animation effect="fade" start="100" end="0" condition="Window.IsActive(112) | Window.IsActive(133)">Conditional</animation>
					<visible>Control.HasFocus(106)</visible>
				</control>	
				<control type="label">
					<description>InfoPaneDetailLabel</description>
					<left>76</left>
					<top>37</top>
					<width>800</width>
					<textcolor>InfoPaneDetailsColor</textcolor>
					<font>font_20</font>
					<label>$LOCALIZE[31207]</label>
					<animation effect="fade" start="100" end="0" condition="Window.IsActive(112) | Window.IsActive(133)">Conditional</animation>
					<visible>Control.HasFocus(109)</visible>
				</control>	
				<control type="label">
					<description>InfoPaneDetailLabel</description>
					<left>76</left>
					<top>37</top>
					<width>800</width>
					<textcolor>InfoPaneDetailsColor</textcolor>
					<font>font_20</font>
					<label>$LOCALIZE[31209]</label>
					<animation effect="fade" start="100" end="0" condition="Window.IsActive(112) | Window.IsActive(133)">Conditional</animation>
					<visible>Control.HasFocus(111)</visible>
				</control>	
				<control type="label">
					<description>InfoPaneDetailLabel</description>
					<left>76</left>
					<top>37</top>
					<width>800</width>
					<textcolor>InfoPaneDetailsColor</textcolor>
					<font>font_20</font>
					<label>$LOCALIZE[31208]</label>
					<animation effect="fade" start="100" end="0" condition="Window.IsActive(112) | Window.IsActive(133)">Conditional</animation>
					<visible>Control.HasFocus(110)</visible>
				</control>	
				<control type="label">
					<description>InfoPaneDetailLabel</description>
					<left>76</left>
					<top>37</top>
					<width>800</width>
					<textcolor>InfoPaneDetailsColor</textcolor>
					<font>font_20</font>
					<label>$LOCALIZE[20077]</label>
					<animation effect="fade" start="100" end="0" condition="Window.IsActive(112) | Window.IsActive(133)">Conditional</animation>
					<visible>Control.HasFocus(112)</visible>
				</control>	
				<control type="label">
					<description>InfoPaneDetailLabel</description>
					<left>76</left>
					<top>37</top>
					<width>800</width>
					<textcolor>InfoPaneDetailsColor</textcolor>
					<font>font_20</font>
					<label>$LOCALIZE[31209]</label>
					<animation effect="fade" start="100" end="0" condition="Window.IsActive(112) | Window.IsActive(133)">Conditional</animation>
					<visible>Window.IsActive(SystemSettings)</visible>
				</control>
				<!--***************************************************************************************************************-->
			</control>
			
			<!--************* SystemStatistics *************-->
			<include>System_Vitals_Bar</include>
			<!--********************************************-->
			
		</control>
	</controls>
</window>